<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">{{nombreEmpresa | titlecase}}</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Inicio</a>
        <a class="p-2 text-dark" href="#">Nosotros</a>
        <a class="p-2 text-dark" href="#">Paquetes</a>
        <a class="p-2 text-dark" href="#">Contacto</a>
    </nav>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{titulo | uppercase}}</h1>
    <p class="lead">Estos son los paquetes que te ofrecemos para incrementar tu negocio.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm" *ngFor="let pack of paquetes">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{pack.titulo}}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{pack.precio | currency: 'USD' : 'symbol' : '.0-0'}} <small class="text-muted">/ {{pack.mes | lowercase}}</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{pack.d1}}</li>
                    <li>{{pack.d2}}</li>
                    <li>{{pack.d3}}</li>
                    <li>{{pack.d4}}</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Adquirir</button>
            </div>
        </div>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">&copy; {{ fecha | date: 'dd/MM/yyyy'}}</small>
                </div>
                <div class="col-6 col-md">
                    <h5></h5>
                    <ul class="list-unstyled text-small">
                        {{paquetes | json}}

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5></h5>
                    <ul class="list-unstyled text-small">

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Menu</h5>
                    <ul class="list-unstyled text-small">
                        <a class="p-2 text-dark" href="#">Inicio</a>
                        <a class="p-2 text-dark" href="#">Nosotros</a>
                        <a class="p-2 text-dark" href="#">Paquetes</a>
                        <a class="p-2 text-dark" href="#">Contacto</a>
                    </ul>
                </div>
            </div>
        </footer>
    </div>